*{
  background:#000;
  }
h1{
  font-size:120px;
  text-align:center;
  background-image:url("https://i.ibb.co/hyQm95z/the-colors-of-one-november-0cc14035-d707-45e7-9b3b-f5e110643c72.jpg");
  background-size: cover;

background-clip: text;

-webkit-background-clip: text;

color: transparent;
  }
 .centered-div {

  display: flex;

  justify-content:center;
  align-items: center;
  }
h1 {

  animation: slideIn 3s ease-in-out;

}

@keyframes slideIn {

  from {

    transform: translateY(-50px);

    opacity: 0;

  }

  to {

    transform: translateY(0);

    opacity: 1;

  }

}